#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.country{
    background-color: chartreuse;
    margin: 15px;
    padding: 15px;
    border: 2px solid lightcoral;
    border-radius: 14px;
}

